<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-storageoptions"
    version="0.0.1">
    <name>Storageoptions</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <clobbers target="StorageOptions" />
      </js-module>
      
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="StorageOptions">
          <param name="android-package" value="com.onesown.StorageOptions" />
        </feature>
      </config-file>

      <source-file src="src/android/com/onesown/StorageOptions.java" target-dir="src/com/onesown/" />
    </platform>

</plugin>
